In [1]:
print("Hello World")

Hello World

Variables,Data type,Operators

In [5]:
# Caluculate area of a triangle

h =20
b= 10
area=1/2*b*h
print(area)

100.0

Understa f-string

In [2]:
# Caluculate area of a triangle

h =20
b= 10

print("the area 1s", 1/2*b*h)
print(f"The area is: {1/2*b*h}")

the area 1s 100.0
The area is: 100.0

Lists & indexing

In [ ]:
marks =[70 , 85 , 90 , 60]

print (marks)
print (marks)

Conditional Statements(if

In [6]:
age =23

if(age>18):
  print("you can drive")
else:
  print("you can't drive")

you can drive

In [7]:
# Largest among three numbers

a,b,c= 10, 20, 30

if(a>b and a>c):
  print("a is largest")
elif:(b>a and b>c):
  print("b is largest ")
else:(c>a and c>b):
  print("c is largest ")

SyntaxError: invalid syntax (ipython-input-1529905605.py, line 7)

**UNDERSTAND MODULES**

In [29]:
# print current date & time

import datetime

a = datetime.datetime.now()
print(f"the current date & time is:{a}")

the current date & time is:2026-02-18 07:28:06.699651

Loops : for , while

In [20]:
# print 1-100 using for loop

for i in range( 10,3, -2):
  print(i)

10
8
6
4

In [ ]:
# print 1-100 using for loop

for i in range( 1,11):
  print(i)

string & methods

In [28]:
name ="Ardent"

print(name)

print(name.upper())
print(name.lower())

Ardent
ARDENT
ardent

In [24]:
# function to calulate average

def avg(phy, che, math):
  return (+phy+che+math)/3

print(avg(50,60,70))

60.0